<!DOCTYPE html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <title>Delivery Doctor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@3.0.2/dist/vue.global.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<style>
    body {
        font-family: 'Ubuntu Mono';
        font-size: 18px;
    }

    /* Trucchi con le proprietà flex per centrare il contenuto di un div */
    #centeredContent {
        width: 450px;
        min-width: 450px;
        flex: 0 1 auto;
    }

    #leftSpacer {
        flex: 1 1 auto;
    }

    #rightSpacer {
        flex: 1 1 0;
    }
</style>
<body>

<header style="background-color: #AAD3FF; border-bottom-left-radius: 80%; border-bottom-right-radius: 80%;"
        class="container-fluid mb-3">
    <div class="d-flex flex-column align-items-center p-3">
        <img src="files/motorino.PNG" alt="logo Delivery Doctor" style="width: 10%;">
        <a style="color: white; text-shadow: 2px 2px black; font-size: 300%;" class="text-decoration-none"
           href="index.html">
            DELIVERY DOCTOR
        </a>
    </div>
</header>
<div class="container">
    <article id="app" class="d-flex">
        <div id="leftSpacer"></div>
        <div id="centeredContent">
            <h1 style="text-align: center">
                Utente Normale
            </h1>
            <div class="d-flex flex-column align-items-center">
                <h4>Ricerca di tutte le consegne effettuate da...</h4>

                <select @change="runQuery" v-model="secondSelection" class="form-select m-2">
                    <option v-for="est in names" :value="est">{{est}}</option>
                </select>

                <!-- Sto usando il doppio = perchè il === NON FUNZIONA! -->
                <div v-if="result != null && result.rows.length > 0">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th v-for="title in result.titles" scope="col">{{title}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="row in result.rows">
                            <td v-for="el in row">{{el}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div v-else-if="result != null && result.rows.length == 0" class="text-danger fs-3">
                    Nessun risultato.
                </div>
                <div v-else-if="secondSelection != ''" class="spinner-border" role="status"></div>
                <div v-else style="color: #FFB900; text-align: center">
                    ⚠ Precisare un valore per il secondo campo per avviare la ricerca!
                </div>
            </div>
        </div>
        <div id="rightSpacer"></div>
    </article>
    <footer>
        <div style="text-align: center; opacity: 0.5; margin-top: 12%">
            Copyright &copy; 2020
        </div>
    </footer>
</div>
</body>
</html>
<script>
    Vue.createApp({
        data() {
            return {
                action: 0,
                names: [],
                secondSelection: '',
                result: null
            }
        },
        mounted() {
            this.loadRequiredData();
        },
        methods: {
            runQuery() {
                if (this.secondSelection === '') {
                    console.log("NO SELECTION");
                    return;
                }

                this.result = null;

                // Necessario per referenziare vue negli oggetti annidati
                const vue = this;
                let query = `PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
                            PREFIX deliverydr: <http://www.semanticweb.org/progettomodsem2020/deliverydoctor#>

                            SELECT ?consegna ?ordine ?localeNome ?destinatario WHERE{
                                ?consegna deliverydr:consegnareAlCliente ?destinatario;
                                    deliverydr:consegnatoDa ?persona;
                                    deliverydr:consegnareOrdine ?ordine.
                                ?ordine deliverydr:ordineCreatoDaAzione ?ordinare.
                                ?ordinare deliverydr:ordinareDalLocale ?locale.
                                ?locale deliverydr:haNome ?localeNome.
                                ?persona deliverydr:haNome "${this.secondSelection}".
                            }`;

                $.ajax({
                    url: "http://localhost:7200/repositories/deliverydoctor",
                    type: "get",
                    dataType: "text",
                    data: {
                        query: query
                    },
                    // Questo è possibile perchè il metodo che converte da CSV si adatta al numero di colonne restituite
                    success: function (result) {
                        console.log(result);

                        // Versione migliorata, utilizza una regex per recuperare correttamente le colonne.
                        // In questo modo non vengono create più colonne se per caso ci sono delle virgole nel testo.
                        // https://stackoverflow.com/a/52978163/3560579
                        const csv2array = (str) => {
                            const lineRegex = /((\\\n)|[^\n])+/g;
                            const datumRegex = /,?(("(\\"|.)+?")|([^",][^,]*))?/g;
                            const array2d = str.match(lineRegex).map((row) =>
                                row.match(datumRegex).map((datum) => datum.replace(/^,?"?|"$/g, "").trim()),
                            );

                            const titles = array2d[0];
                            const rows = array2d.slice(1);

                            return {titles, rows}
                        }

                        let data = csv2array(result);
                        // Rimuovo l'ultima riga perchè contiene valori vuoti restituiti da GraphDB
                        data.rows = data.rows.filter(row => row[0] !== '');

                        console.log(data);
                        vue.result = data;
                    }
                });


            },
            loadRequiredData() {
                const vue = this;

                let query = `PREFIX deliverydr: <http://www.semanticweb.org/progettomodsem2020/deliverydoctor#>

                            SELECT ?nome
                            WHERE {
                                ?p a deliverydr:Persona;
                                   deliverydr:haNome ?nome
                            }`;

                $.ajax({
                    url: "http://localhost:7200/repositories/deliverydoctor",
                    type: 'get',
                    dataType: "text",
                    data: {
                        query: query
                    },
                    success: function (result) {
                        const arr = result.split(/\r?\n/);
                        vue.names = arr.slice(1, arr.length - 1);
                    }
                });
            }
        }
    }).mount('#app');
</script>
